<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #b5b9c0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #4c4a64;
  color: white;
}
</style>
</head>
<body>
<h1> BEM-VINDOS AO MEU BLOG </h1>





<ul>

 {% for item in lista_tec %}

{% if item == 'Django' %}

 <li><a class="active" href="#home">{{ item }} </a></li>
{% else %}
<li><a href="#news">{{ item }}</a></li>
{% endif %}

{% endfor %}
</ul>
<h1> -----------------------</h1>

<ul>
{% for item in post %}

{% if item.title == 'Python' %}

 <li><a class="active" href="#home">{{ item.title }} </a></li>
{% else %}
<li><a href="#news">{{ item.title }}</a></li>
{% endif %}

{% endfor %}

</ul>


</body>
</html>